.skins {
    position: fixed;
    top: 140px;
    right: -160px;
    transition: .3s ease-in-out;
    z-index: 9999;
}

.skins:hover {
    right: 0;
}

.skin-colors,
.layout-select,
.sidebar-select{
    list-style: none;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    width: 160px;
    border: 1px solid #e7e7e7;
}

.skin-colors li {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: -3px;
    line-height: 0;
    transition: .3s ease-in-out;
}

.layout-select li,
.sidebar-select li{
    cursor: pointer;
    font-size: 15px;
    padding: 1px;
}
.skin-colors li.active::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 20px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    color: #fff;
}

.skin-toggler {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: -49px;
    top: 0;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #888;
    border: 1px solid #e7e7e7;
}

@media (max-width: 768px) {
    .layout-select,
    .sidebar-select{
        display:none;
    }
}

@media (min-width: 1200px){
.col-lg-3 {
    width: 50% !important   ;
}
}

.mainpadding{
    padding: 150px !important;
}
.login-page .box-login, .register-page .box-register {
    width: 560px !important;
    background-color: #fff;
    margin: 6% auto;
    position: absolute;
    right: 0;
    left: 0;
    border-top: 3px solid #29B6F6;
}

.forgot-page .box-forgot {
    width: 560px !important;
    background-color: #fff;
    margin: 6% auto;
    position: absolute;
    right: 0;
    left: 0;
    border-top: 3px solid #29B6F6;
}
.error{
   color:red;
   text-align:center;
    }